node_modules
dist
bin
native-dist
.DS_Store
*.log
cookiestest
/cookies.json
/cookies.txt
/facebook.json
/linkedin.json
/reddit.json
/tiktok.json
/x.json
/youtube.json
/instagram.json
/twitch.json
/*.cookies.json
/*.cookies.txt
/*-cookies.json
/*-cookies.txt
/*.session.json
